#i{
    opacity: 0;
    animation: logoAnimation 0.8s ease-in-out forwards;
}

#m{
    opacity: 0;
    transform: translate3d(0,-100%, 0);
    animation: logoAnimation 0.8s ease-in-out .4s forwards;

}

#g{
    opacity: 0;
    transform: translate3d(0,-100%, 0);
    animation: logoAnimation 0.8s ease-in-out 0.8s forwards;
}
#u{
    opacity: 0;
    transform: translate3d(0,-100%, 0);
    animation: logoAnimation 0.8s ease-in-out 1.2s forwards;
}
#r{
    opacity: 0;
    transform: translate3d(0,-100%, 0);
    animation: logoAnimation 0.8s ease-in-out .6s forwards;
}
#dot{
    opacity: 0;
    scale: 1;
    position: absolute;
    transform: translate3d(-80px, -16px, 0);
    /* transform: translate3d(10px, 0px, 0); */
    animation: dot 1.6s ease-in-out 2.2s forwards;
}

.animation-div{
    display: none;
    opacity: 1;
    background: url('../assets/giraffe.png') no-repeat;
    background-size: cover;
    background-position: left top;
    animation: showAnimation 1.4s ease-in-out 5s forwards;
}

.imgur-div{
    scale: 0.5;
    animation: imgur 0.6s 3.8s ease-in-out forwards;
}


@keyframes showAnimation {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@keyframes logoAnimation {

    0%{
        display: flex;
        opacity: 0;
        transform: translate3d(0,-100%, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

@keyframes imgur {
    0%{
    scale: 0.5;
}

50%{
    scale: 1.1;
}

100%{
    scale: 1;
    }
}

@keyframes dot {
    0%{
        opacity: 0;
        scale: 1 1;
        transform: translate3d(0px, -20px, 0);
    }


    30%{
        opacity: 1;
        transform: translate3d(0px, 4px, 0);
        scale: 1 1;
    }

    50%{
        opacity: 1;
        transform: translate3d(0px, -20px, 0);
        scale: 1 1;

    }

    100%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0);
        scale: 1 1;
    }
}
@media screen and (max-width:1024px) {
    .animation-div{
        justify-content: center;
        align-items: flex-start;
    }

    .imgur-div{
        width: auto;
        /* height: 30%; */
        scale: 0.4;
    }

    @keyframes imgur {
        0%{
        scale: 0.4;
    }
    
    50%{
        scale: 0.8;
    }
    
    100%{
        scale: 0.6;
        }
    }
}
@media screen and (max-width:767px) {

    .imgur-div{
        scale: 0.2;
    }

    @keyframes imgur {
        0%{
        scale: 0.2;
    }
    
    50%{
        scale: 0.4;
    }
    
    100%{
        scale: 0.3;
        }
    }
}


/* Upload complete */

.upload-complete{
    animation: upload 4s ease-out 1s normal forwards;
    opacity: 1;
    visibility: hidden;

    /* display: none; */
}
@keyframes upload {
    0%{
        visibility: visible;
    }

    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
    
}