.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #33353b;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    color: grey;
}

