.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2e3035;
  justify-content: space-between;
  align-items: stretch;
  /* padding-left: 50px; */
  color: #b4b9c2;
  z-index: 40;
  box-shadow: 0px -3px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px -3px 6px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -3px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -webkit-animation-delay: 2s;
}

.footer a,
.footer p {
  text-decoration: none;
  font-size: 14px;
  padding: 14px 0;
}
.footer p,
.footer-app {
  white-space: nowrap;
}

.footer .footer-items {
  /* display: flex; */
  align-items: center;
  color: #b4b9c2;
  gap: 30px;
}

.footer .footer-items a {
  color: #b4b9c2;
}

.footer .footer-app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 45px;
  /* width: 10%; */
  background-color: #474a51;
  color: white;
}

.ellipsis {
  right: 166px;
}
@media screen and (max-width: 420px) {
  .footer,
  .footer .footer-app {
    padding: 0px 14px;
  }

  .ellipsis {
    right: 106px;
  }
}
#scroll-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: start;
  bottom: -60px;
  right: 25px;
  width: 50px;
  background-color: #474a51;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: width 1s;
}
#scroll-btn:hover {
  width: 160px;
  height: 50px;
  padding-right: 2px;
}

#scroll-btn svg {
  min-width: 50px;
  min-height: 50px;
}
#scroll-btn p {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  white-space: nowrap;
  color: white;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  background-color: #474a51;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}
.footer-menu::after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: #474a51 transparent transparent transparent;
  position: absolute;
  bottom: -18px;
  left: 32px;
}

.footer-menu a {
  padding: 4px 0;
}

@media (min-width: 640px) {
  #scroll-btn {
    display: flex;
  }
}
