@import url('select.css');
body{
  font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h1 {
  color: #aed8ea;
}
.explore, .tag-btn{
  letter-spacing: 1px;
}

#image-container:hover .desc {
  background-color: #67686f;
}

#image-container:hover img,
#image-container:hover video {
  filter: brightness(115%);
}
.desc {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  background-color: #ffffffb3;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}


.profile-menu::before{
  position: absolute;
  top: -20px;
  right: 16px;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color:  transparent transparent #67686f transparent;
}

/*GALLERY PAGE*/

.gradient-background {
  background: linear-gradient(180deg, rgba(37, 38, 41, 0.24) 26.22%, #27292d),
    linear-gradient(0deg, #171544, #171544);
  /* height: 650px; */
}
