@import url("select.css");
@import url("footer.css");
@import url("uniform-layout.css");
@import url("waterfall-layout.css");
@import url("animation.css");
@import url("user.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: Proxima Nova ExtraBold, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.header-container,
.background {
  background: url(../assets/Press_Page.jpg) no-repeat;
  background-size: cover;
}

.header-container {
  background-position: center top;
}

.background {
  background-position: center;
}

.overlay {
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
}

h1 {
  color: #aed8ea;
}
.explore,
.tag-btn {
  letter-spacing: 1px;
}
#image-container #image {
  padding: 6px 6px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#image-container:nth-child(n) .desc,
#image-container:nth-child(n) #image {
  background-color: #5b62a5;
}
#image-container:nth-child(2n) .desc,
#image-container:nth-child(2n) #image {
  background-color: #155c71;
}
#image-container:nth-child(3n) .desc,
#image-container:nth-child(3n) #image {
  background-color: #633875;
}
#image-container:nth-child(4n) .desc,
#image-container:nth-child(4n) #image {
  background-color: #508a9f;
}
#image-container:hover .desc,
#image-container:hover #image {
  background-color: #2b1a5a;
}

#image-container:hover img,
#image-container:hover video {
  filter: brightness(115%);
}

.desc {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  /* background-color: #ffffffb3; */
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.profile-menu::before,
.floating-menu::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 16px;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: transparent transparent #67676f transparent;
}

@media screen and (max-width: 640px) {
  .profile-menu::before,
  .floating-menu::before {
    border-color: transparent transparent #29051c transparent;
  }
}

/*GALLERY PAGE*/

.gradient-background {
  background: linear-gradient(180deg, rgba(37, 38, 41, 0.24) 26.22%, #27292d),
    linear-gradient(0deg, #171544, #171544);
  /* height: 650px; */
}

.controls progress {
  display: block;
  width: 100%;
  height: 81%;
  margin-top: 0.125rem;
  border: none;
  color: #0095dd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.controls progress::-moz-progress-bar {
  background-color: #0095dd;
}

.controls progress::-webkit-progress-value {
  background-color: #0095dd;
}

.drop {
  background: linear-gradient(
    210deg,
    rgba(102, 59, 103, 1) 0%,
    rgba(174, 127, 83, 1) 90%
  );
}
.dragover {
  background: radial-gradient(
      755px at 77.71% -37.81%,
      #441b6f 0,
      rgba(23, 23, 66, 0) 100%
    ),
    transparent;
}

.dragover .star {
  background-color: white;
}
.dragover.star:nth-child(n + 1) {
  transform: scale(0.6);
}
.dragover .star:nth-child(1) {
  opacity: 1;
}
.dragover .star:nth-child(4) {
  opacity: 0.5;
  transform: scale(1);
}

.dragover.drop h1 {
  display: none;
}

.star {
  clip-path: polygon(
    50% 0%,
    65% 35%,
    100% 50%,
    65% 65%,
    50% 100%,
    35% 65%,
    0 50%,
    35% 35%
  );
  transition: transform 1s, opacity 1s;
}

.comet {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translate(-400px, 400px) rotate(45deg);
  opacity: 0;
}

.dragover .comet {
  opacity: 1;
  animation: comet 4s;
}

@keyframes comet {
  from {
    transform: translate(200px, -100px) rotate(45deg);
  }
  to {
    transform: translate(-400px, 400px) rotate(45deg);
  }
}

.spinner-box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circle-border {
  width: 50px;
  height: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63, 249, 220);
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, #1bb76e 100%);
  animation: spin 1s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #27292d;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

#next-btn > *,
#previous-btn > * {
  transition: all 500ms ease;
}

#next-btn:hover > * {
  transform: translateX(3px);
}

#previous-btn:hover > * {
  transform: translateX(-3px);
}

.upvote:hover > * {
  transform: translateY(-1px);
  stroke: #1bb76e;
}

.downvote:hover > * {
  transform: translateY(1px);

  stroke: #fc6369;
}

.favorite:hover > * {
  transform: scale(1.05);
  stroke: #34cfa8;
}

#upvote-banner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='400' height='180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0a6 6 0 0 0-6 6l.015 168.001a6 6 0 0 0 6 5.999H394a6 6 0 0 0 6-6l-.003-168a6 6 0 0 0-6-6H14zM1.11 88.336a3 3 0 0 0 0 3.328L8 102V78L1.11 88.336z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0a6 6 0 0 0-6 6l.015 168.001a6 6 0 0 0 6 5.999H394a6 6 0 0 0 6-6l-.003-168a6 6 0 0 0-6-6H14zM1.11 88.336a3 3 0 0 0 0 3.328L8 102V78L1.11 88.336z' fill='url(%23paint0_radial)'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath opacity='.6' d='M121.5 27c10.77 0 19.5-8.73 19.5-19.5S132.27-12 121.5-12 102-3.27 102 7.5 110.73 27 121.5 27z' fill='url(%23paint1_linear)'/%3E%3Cpath opacity='.5' d='M406 16s-39.411 28.027-41.739 29.362a4.863 4.863 0 0 1-6.622-1.802 4.834 4.834 0 0 1 1.806-6.606C361.72 35.619 406 16 406 16z' fill='url(%23paint2_linear)'/%3E%3Cpath opacity='.5' d='M63 165s-28.955 20.553-30.665 21.532a3.579 3.579 0 0 1-2.707.343 3.563 3.563 0 0 1-2.158-1.664 3.538 3.538 0 0 1-.344-2.696 3.552 3.552 0 0 1 1.67-2.149C30.469 179.387 63 165 63 165z' fill='url(%23paint3_linear)'/%3E%3Cpath opacity='.6' d='M92 168.5c0 6.904 5.596 12.5 12.5 12.5s12.5-5.596 12.5-12.5-5.596-12.5-12.5-12.5S92 161.596 92 168.5z' fill='url(%23paint4_linear)'/%3E%3Cg opacity='.5' fill-rule='evenodd' clip-rule='evenodd' fill='%23fff'%3E%3Cpath d='M361.591 166.64a1.491 1.491 0 0 1-1.482-1.501c0-4.14 3.323-7.508 7.408-7.508.819 0 1.481.673 1.481 1.501 0 .829-.662 1.502-1.481 1.502-2.451 0-4.445 2.021-4.445 4.505a1.49 1.49 0 0 1-1.481 1.501zM355.481 161.009a1.49 1.49 0 0 1-1.481-1.501c0-.829.662-1.502 1.481-1.502 2.451 0 4.445-2.021 4.445-4.504 0-.829.662-1.502 1.481-1.502.82 0 1.482.673 1.482 1.502 0 4.139-3.323 7.507-7.408 7.507z'/%3E%3Cpath d='M361.407 166.64a1.49 1.49 0 0 1-1.481-1.501c0-2.484-1.994-4.505-4.445-4.505a1.491 1.491 0 0 1-1.481-1.502c0-.828.662-1.501 1.481-1.501 4.085 0 7.408 3.368 7.408 7.508a1.49 1.49 0 0 1-1.482 1.501zM367.517 161.009c-4.085 0-7.408-3.368-7.408-7.507 0-.829.663-1.502 1.482-1.502s1.481.673 1.481 1.502c0 2.483 1.994 4.504 4.445 4.504.819 0 1.481.673 1.481 1.502a1.49 1.49 0 0 1-1.481 1.501z'/%3E%3C/g%3E%3Cpath opacity='.5' clip-rule='evenodd' d='M37 67l1.684 2.997L37 73l3.003-1.684L43 73l-1.678-3.003L43 67l-2.997 1.678L37 67z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath opacity='.5' clip-rule='evenodd' d='M93 136.01l4.63 1.178 1.461 4.557 1.123-4.617 4.536-1.393-4.631-1.19-1.46-4.545-1.124 4.606L93 136.01z' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle opacity='.5' cx='100' cy='43' r='6' fill='%23fff'/%3E%3Ccircle opacity='.5' cx='45' cy='115' r='3' fill='%23fff'/%3E%3C/g%3E%3Cg filter='url(%23filter0_d)' clip-rule='evenodd'%3E%3Cpath fill-rule='evenodd' d='M76.701 73.926a3.441 3.441 0 0 1 4.598 0c1.562 1.374 3.942 3.565 7.201 6.824 3.386 3.386 5.823 6.298 7.38 8.31.964 1.246.067 2.94-1.509 2.94H87v12.563c0 1.497-.873 2.807-2.35 3.051-1.254.207-3.082.386-5.65.386-2.568 0-4.396-.179-5.65-.386-1.477-.244-2.35-1.554-2.35-3.051V92h-7.371c-1.575 0-2.473-1.694-1.509-2.94 1.557-2.012 3.994-4.924 7.38-8.31 3.26-3.26 5.639-5.45 7.201-6.824z' fill='%23fff'/%3E%3Cpath d='M76.701 73.926a3.441 3.441 0 0 1 4.598 0c1.562 1.374 3.942 3.565 7.201 6.824 3.386 3.386 5.823 6.298 7.38 8.31.964 1.246.067 2.94-1.509 2.94H87v12.563c0 1.497-.873 2.807-2.35 3.051-1.254.207-3.082.386-5.65.386-2.568 0-4.396-.179-5.65-.386-1.477-.244-2.35-1.554-2.35-3.051V92h-7.371c-1.575 0-2.473-1.694-1.509-2.94 1.557-2.012 3.994-4.924 7.38-8.31 3.26-3.26 5.639-5.45 7.201-6.824z' stroke='%23fff' stroke-width='4'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='51.706' y='67.045' width='54.589' height='54.955' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(587.76268 144.43471 -59.76469 243.20645 -152.709 -17.369)'%3E%3Cstop stop-color='%234A58FB'/%3E%3Cstop offset='1' stop-color='%231BB76E'/%3E%3C/radialGradient%3E%3ClinearGradient id='paint1_linear' x1='102' y1='7.5' x2='141.001' y2='7.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318173B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23539FC8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='357.5' y1='43.5' x2='409.5' y2='12.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234D4CFF'/%3E%3Cstop offset='1' stop-color='%232ED1BE'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='27.367' y1='185.167' x2='65.534' y2='162.371' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234D4CFF'/%3E%3Cstop offset='1' stop-color='%232ED1BE'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='104.5' y1='156' x2='104.5' y2='181.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318173B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23539FC8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h400v180H0z'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Cpath fill='%23fff' d='M0 0h400v180H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

#downvote-banner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='400' height='180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0a6 6 0 0 0-6 6l.014 168.001a6 6 0 0 0 6 5.999H394a6 6 0 0 0 6-6l-.003-168a6 6 0 0 0-6-6H14zM1.11 88.336a3 3 0 0 0 0 3.328L8 102V78L1.11 88.336z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0a6 6 0 0 0-6 6l.014 168.001a6 6 0 0 0 6 5.999H394a6 6 0 0 0 6-6l-.003-168a6 6 0 0 0-6-6H14zM1.11 88.336a3 3 0 0 0 0 3.328L8 102V78L1.11 88.336z' fill='url(%23paint0_radial)'/%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath opacity='.16' d='M105 187c9.389 0 17-7.611 17-17s-7.611-17-17-17-17 7.611-17 17 7.611 17 17 17z' fill='url(%23paint1_linear)'/%3E%3Cpath opacity='.5' d='M408 28s-39.411 28.027-41.739 29.362a4.863 4.863 0 0 1-6.622-1.802 4.834 4.834 0 0 1 1.806-6.606C363.72 47.619 408 28 408 28z' fill='url(%23paint2_linear)'/%3E%3Cpath opacity='.5' d='M63 156s-39.41 28.027-41.739 29.362a4.864 4.864 0 0 1-6.621-1.802 4.831 4.831 0 0 1 1.805-6.606C18.72 175.619 63 156 63 156z' fill='url(%23paint3_linear)'/%3E%3Cg opacity='.5' fill-rule='evenodd' clip-rule='evenodd' fill='%23fff'%3E%3Cpath d='M43.59 52.64c-.818 0-1.48-.672-1.48-1.501 0-4.14 3.322-7.508 7.407-7.508.819 0 1.481.673 1.481 1.501 0 .83-.662 1.502-1.481 1.502-2.45 0-4.445 2.021-4.445 4.505 0 .829-.662 1.501-1.481 1.501zM37.481 47.01c-.819 0-1.481-.673-1.481-1.502s.662-1.502 1.481-1.502c2.45 0 4.445-2.02 4.445-4.504 0-.83.662-1.502 1.481-1.502.82 0 1.482.673 1.482 1.502 0 4.14-3.323 7.508-7.408 7.508z'/%3E%3Cpath d='M43.407 52.64c-.819 0-1.481-.672-1.481-1.501 0-2.484-1.994-4.505-4.445-4.505-.819 0-1.481-.673-1.481-1.502 0-.828.662-1.501 1.481-1.501 4.085 0 7.408 3.368 7.408 7.508 0 .829-.662 1.501-1.482 1.501zM49.517 47.01c-4.085 0-7.408-3.369-7.408-7.508 0-.83.663-1.502 1.482-1.502.82 0 1.481.673 1.481 1.502 0 2.483 1.994 4.504 4.445 4.504.819 0 1.481.673 1.481 1.502s-.662 1.502-1.481 1.502z'/%3E%3C/g%3E%3Cpath opacity='.5' clip-rule='evenodd' d='M344 175.01l4.631 1.178 1.46 4.557 1.123-4.617 4.536-1.393-4.631-1.19-1.461-4.545-1.123 4.606L344 175.01zM32 131.01l4.63 1.178 1.461 4.557 1.123-4.617 4.536-1.393-4.631-1.19-1.46-4.545-1.124 4.606L32 131.01z' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle opacity='.5' cx='114' cy='65' r='3' fill='%23fff'/%3E%3Ccircle opacity='.5' cx='100.5' cy='126.5' r='4.5' fill='%23fff'/%3E%3Cpath opacity='.15' d='M95.012 6.147c-3.32 11.678 3.456 23.838 15.134 27.158 11.679 3.32 23.838-3.455 27.159-15.133 3.32-11.68-3.456-23.838-15.134-27.159-11.679-3.32-23.838 3.455-27.159 15.134z' fill='url(%23paint4_linear)'/%3E%3C/g%3E%3Cg filter='url(%23filter0_d)' clip-rule='evenodd'%3E%3Cpath fill-rule='evenodd' d='M81.299 106.074a3.44 3.44 0 0 1-4.598 0c-1.562-1.374-3.942-3.565-7.201-6.824-3.386-3.386-5.823-6.298-7.38-8.31-.964-1.246-.066-2.94 1.509-2.94H71V75.437c0-1.497.873-2.807 2.35-3.05C74.604 72.18 76.432 72 79 72c2.568 0 4.396.18 5.65.386 1.477.244 2.35 1.554 2.35 3.05V88h7.371c1.576 0 2.473 1.694 1.509 2.94-1.557 2.012-3.994 4.924-7.38 8.31-3.26 3.259-5.639 5.45-7.201 6.824z' fill='%23fff'/%3E%3Cpath d='M81.299 106.074a3.44 3.44 0 0 1-4.598 0c-1.562-1.374-3.942-3.565-7.201-6.824-3.386-3.386-5.823-6.298-7.38-8.31-.964-1.246-.066-2.94 1.509-2.94H71V75.437c0-1.497.873-2.807 2.35-3.05C74.604 72.18 76.432 72 79 72c2.568 0 4.396.18 5.65.386 1.477.244 2.35 1.554 2.35 3.05V88h7.371c1.576 0 2.473 1.694 1.509 2.94-1.557 2.012-3.994 4.924-7.38 8.31-3.26 3.259-5.639 5.45-7.201 6.824z' stroke='%23fff' stroke-width='4'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='51.706' y='66' width='54.589' height='54.955' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(589.4247 144.43413 -59.61526 243.28534 -154.142 -17.369)'%3E%3Cstop stop-color='%23DC16AC'/%3E%3Cstop offset='1' stop-color='%23FCAA3C'/%3E%3C/radialGradient%3E%3ClinearGradient id='paint1_linear' x1='88' y1='170' x2='122.001' y2='170' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318173B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23539FC8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='359.5' y1='55.5' x2='411.5' y2='24.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF48BC'/%3E%3Cstop offset='1' stop-color='%23C8BFFF' stop-opacity='.39'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='14.5' y1='183.5' x2='66.5' y2='152.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF48BC'/%3E%3Cstop offset='1' stop-color='%236913FE' stop-opacity='.4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='122.171' y1='-8.987' x2='110.146' y2='33.306' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318173B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23539FC8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h400v180H0z'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Cpath fill='%23fff' d='M0 0h400v180H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

#favorite-banner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='400' height='180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0a6 6 0 0 0-6 6l.015 168.001a6 6 0 0 0 6 5.999H394a6 6 0 0 0 6-6l-.002-168a6.001 6.001 0 0 0-6-6H14zM1.11 88.336a3 3 0 0 0 0 3.328L8 102V78L1.11 88.336z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0a6 6 0 0 0-6 6l.015 168.001a6 6 0 0 0 6 5.999H394a6 6 0 0 0 6-6l-.002-168a6.001 6.001 0 0 0-6-6H14zM1.11 88.336a3 3 0 0 0 0 3.328L8 102V78L1.11 88.336z' fill='url(%23paint0_radial)'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath opacity='.5' d='M50 164s-20.912 14.948-22.147 15.66a2.569 2.569 0 0 1-3.514-.961 2.59 2.59 0 0 1 .959-3.524C26.504 174.464 50 164 50 164z' fill='url(%23paint1_linear)'/%3E%3Cpath opacity='.5' d='M414 23s-49.867 36.436-52.812 38.17a6.01 6.01 0 0 1-4.663.608 6.166 6.166 0 0 1-3.716-2.95 6.436 6.436 0 0 1-.593-4.779 6.277 6.277 0 0 1 2.878-3.81C357.972 48.506 414 23 414 23z' fill='url(%23paint2_linear)' fill-opacity='.8'/%3E%3Cg opacity='.5' fill-rule='evenodd' clip-rule='evenodd' fill='%23fff'%3E%3Cpath d='M37.59 61.64c-.818 0-1.48-.672-1.48-1.501 0-4.14 3.322-7.508 7.407-7.508.819 0 1.481.673 1.481 1.501 0 .83-.662 1.502-1.481 1.502-2.45 0-4.445 2.021-4.445 4.505 0 .829-.662 1.501-1.481 1.501zM31.482 56.01c-.82 0-1.482-.673-1.482-1.502s.662-1.502 1.482-1.502c2.45 0 4.444-2.02 4.444-4.504 0-.83.662-1.502 1.481-1.502.82 0 1.482.673 1.482 1.502 0 4.14-3.323 7.508-7.408 7.508z'/%3E%3Cpath d='M37.407 61.64c-.819 0-1.481-.672-1.481-1.501 0-2.484-1.994-4.505-4.445-4.505-.819 0-1.481-.673-1.481-1.502 0-.828.662-1.501 1.482-1.501 4.084 0 7.407 3.368 7.407 7.508 0 .829-.662 1.501-1.482 1.501zM43.517 56.01c-4.085 0-7.408-3.369-7.408-7.508 0-.83.663-1.502 1.482-1.502.82 0 1.481.673 1.481 1.502 0 2.483 1.994 4.504 4.445 4.504.819 0 1.481.673 1.481 1.502s-.662 1.502-1.481 1.502z'/%3E%3C/g%3E%3Cpath opacity='.5' clip-rule='evenodd' d='M355 178.01l4.631 1.178 1.46 4.557 1.123-4.617 4.536-1.393-4.631-1.19-1.461-4.545-1.123 4.606L355 178.01zM92 126.01l4.63 1.178 1.461 4.557 1.123-4.617 4.536-1.393-4.631-1.19-1.46-4.545-1.124 4.606L92 126.01z' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle opacity='.5' cx='102' cy='62' r='3' fill='%23fff'/%3E%3Cpath opacity='.56' d='M105 186c9.389 0 17-7.611 17-17s-7.611-17-17-17-17 7.611-17 17 7.611 17 17 17z' fill='url(%23paint3_linear)'/%3E%3Cpath opacity='.35' d='M49.86-9.057C38.34-5.223 32.107 7.224 35.942 18.745c3.834 11.52 16.281 17.75 27.801 13.916C75.264 28.827 81.495 16.38 77.661 4.86 73.827-6.66 61.379-12.891 49.859-9.057z' fill='url(%23paint4_linear)'/%3E%3Ccircle opacity='.5' cx='50' cy='137' r='3' fill='%23fff'/%3E%3C/g%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M86.09 74c-3.341 0-6.294 1.938-8.09 4.474C76.205 75.938 73.252 74 69.91 74 64.437 74 60 78.44 60 83.918c0 5.746 4.142 12.745 15.866 20.681a3.814 3.814 0 0 0 4.268 0C91.858 96.663 96 89.664 96 83.918 96 78.44 91.563 74 86.09 74z' fill='%23fff'/%3E%3Cpath d='M86.09 74c-3.341 0-6.294 1.938-8.09 4.474C76.205 75.938 73.252 74 69.91 74 64.437 74 60 78.44 60 83.918c0 5.746 4.142 12.745 15.866 20.681a3.814 3.814 0 0 0 4.268 0C91.858 96.663 96 89.664 96 83.918 96 78.44 91.563 74 86.09 74z' stroke='%23fff' stroke-width='4'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='50' y='68' width='56' height='51.252' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='rotate(13.77 -4.642 -642.732) scale(606.79 250.481)'%3E%3Cstop stop-color='%231FF3DC'/%3E%3Cstop offset='1' stop-color='%23463198'/%3E%3C/radialGradient%3E%3ClinearGradient id='paint1_linear' x1='24.265' y1='178.667' x2='51.931' y2='162.258' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232ED1BE'/%3E%3Cstop offset='1' stop-color='%23FF48BC' stop-opacity='.4'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='352.633' y1='58.75' x2='419.35' y2='20.038' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2301BDEA'/%3E%3Cstop offset='1' stop-color='%23FF48BC' stop-opacity='.46'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear' x1='88' y1='169' x2='122.001' y2='169' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318173B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23539FC8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear' x1='77.661' y1='4.86' x2='35.941' y2='18.745' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318173B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23539FC8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(8)' d='M0 0h392v180H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.su-gradient {
  background: linear-gradient(27.53deg, #6913fe -0.37%, #2078fe 68.56%);
  box-shadow: 0 11px 17px -4px rgba(0, 0, 0, 0.52);
}

/* Header in user page */

.bgPosition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.userAvatar{
  background-image: url(../assets/avatar.jpg);
}