.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.flex-container > * {
  /* width: 300px; */
  height: 260px;
}

.flex-container img {
  /* object-fit: cover; */
  object-position: top left;
  height: 200px;
}
